.block {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  padding: 30px;
  background-color: var(--color-background-white);
  background-size: contain;
  background-repeat: no-repeat;
}
