.container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .code {
    font-size: 15px;
    margin-left: 20px;
    font-weight: 100;
    letter-spacing: 2px;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    margin-left: auto;
    border-radius: 19px;
    background-color: var(--color-background-black);
  }
}
.text {
  width: 350px;
  min-width: 200px;
  line-height: 1.5;
  font-weight: 200;
  color: var(--color-text-white);
  font-size: 21px;

  @media (width < 1200px) {
    font-size: 18px;
    width: 100%;
  }
}
