.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  svg {
    margin-left: auto;
  }

  &:hover {
    opacity: 0.95;
  }
}

.primary {
  padding: 0 30px;
  background-color: var(--color-main);
  color: var(--color-text-white);
}

.secondary {
  padding: 0 32px;
  font-weight: 500;
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);
}

.gray {
  background-color: var(--color-background-gray);
  color: var(--color-text-white);
}

.light {
  padding: 0 30px;
  background-color: var(--color-background-light);
  color: var(--color-text-black);
}
