.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  @media (width < 540px) {
    font-size: 14px;
  }
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.95;
  }
}

.primary {
  background-color: var(--color-main);
  color: var(--color-text-white);
}

.secondary {
  font-weight: 500;
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);
}

.gray {
  background-color: var(--color-background-gray);
  color: var(--color-text-white);
}

.light {
  background-color: var(--color-background-light);
  color: var(--color-text-black);
}
