.homepage {
  display: grid;
  grid-template-columns: 460px auto;
  gap: var(--gap);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.row1 {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}
