.homepage {
  padding: 0 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: stretch;
  gap: var(--gap);

  @media (width > 1200px) {
    grid-template-columns: minmax(350px, 450px) auto;
    justify-content: stretch;
    padding: 0 25px;
  }
}

.col {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: stretch;
  align-items: start;
  gap: 25px;
}

.sidebar {
  display: grid;
  gap: 25px;
}

.first {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
