.container {
  width: 600px;
  margin: 50px auto 0 auto;
}

.block {
  width: 70%;
  margin: 0 auto 30px auto;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title {
  color: var(--color-text-black);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;

  input[type='password'] {
    font: small-caption;
    font-size: 16px;
    letter-spacing: 0.1rem;
  }
}

.inputLine {
  position: relative;
}

.hint {
  color: rgb(102, 102, 102);
  margin-bottom: 10px;
}

.input {
  width: 100%;
  border-radius: 25px;
  border: solid 1px;
  border-color: #dfdfdf;
  padding: 15px 25px;
  transition: 0.2s;
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    border: solid 1px;
    border-color: var(--color-main);
  }
  &::placeholder {
    color: #c9c9c9;
  }
}

.error {
  // position: absolute;
  // font-size: 12px;
  // top: 20px;
  // right: -25px;
  color: red;
}
