.button {
  display: flex;
  padding: 0 30px;
  align-items: center;
  width: 180px;
  height: 62px;
  border-radius: 31px;
  border: none;
  background-color: var(--color-main);
  color: var(--color-text-white);
  font-size: 18px;
  svg {
    margin-left: auto;
  }
}
